body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav a.active {
  height: 50 vh;
  padding-top: 10px;
  min-height: 400px;
  background-color: rgba(179, 221, 252, 0.196);
}

img {
  height: 350px;
  width: 400px;
}

.movie-card {
  padding: 400 px;
  height: 500px;
  border: 1px;
  background-color: brown;
}

.movie-box {
  float: left;  
}

