
body {
  background-color: azure;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
}

button,
select {
  border: none;
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 1rem;
}

#details {
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link {
  padding: 5px;
  font-size: x-large;
  font-family: hyperakt;

}

#nav-bar {
  border-radius: 12px;
  background-color: rgba(58, 51, 51, 0.084);
  padding: 12px;
  line-break: auto;
}

nav a.active {
  height: 50 vh;
  min-height: 400px;
  color: black;
  border-radius: 12px;
  border: 2px solid rgba(86, 175, 253, 0.695);
}

#search {
  font-size: 20px;
}

img {
  height: 235px;
  width: 255px;
  border-radius: 7px;
} 

.movie-card {
  float: left;
  width: 20%;
  padding: 25px;
  font-size: small;
}

button {
  border-radius: 9px;
}

input {
  border-radius: 9px;
}

li {
  display: block;
  font-size: x-large;
  padding: 7px;
  font-style: inherit;
}

form {
  display: block;
  font-size: x-large;
  padding: 5px;
  font-style: inherit;
}



